SG_DB_URI="<Your MongoDB URI>"

SG_OSS_ENDPOINT="https://oss-cn-beijing.aliyuncs.com"
SG_OSS_REGION="<Your oss region e.g.'cn-beijing'>"
SG_OSS_ACCESS_KEY_ID='<Your access key id here>'
SG_OSS_ACCESS_KEY_SECRET='<Your access key secret here>'