name: Continue Integration for api

on:
  push:
    branches:
      - "**"

  pull_request:
    branches:
      - "**"

jobs:
  Integration:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install Dependencies
        run: pnpm install

      - name: lint
        run: pnpm run lint
        continue-on-error: true

      #   - name: test
      #     run: pnpm run test

      - name: build
        run: pnpm run build
