name: Continue Deployment for web
on:
  workflow_call:
    inputs:
      environment:
        description: "Which environment to deploy.Should be set ahead in repo config."
        type: string
        required: true
      channelId:
        description: "Whether to deploy to live channel."
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment: ${{inputs.environment}}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: web-build-artifact
          path: web/dist

      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        id: firebase_deploy
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{inputs.environment == 'prod' && secrets.FIREBASE_SERVICE_ACCOUNT_SANDGLASS_CCCE4  || secrets.FIREBASE_SERVICE_ACCOUNT_SANDGLASS_DEV_2BC90}}
          channelId: ${{ inputs.channelId }}
          projectId: ${{inputs.environment == 'prod' && 'sandglass-ccce4'  || 'sandglass-dev-2bc90'}}
